<div class="edu-sample">
  <h2>Interpolation</h2>
  <div class="card">
    <header class="card-header">
      <!-- Titel und Url einsetzen-->
      Training: <a href="{{ frameworkHomepage }}" target="_blank">{{ frameworkTitle }}</a>
    </header>
    <div class="card-content">
      <div class="table-desc">
        <!-- Anzahl Themen dynamisch berechnen -->
        Anzahl Themen: {{ topics.length }}
      </div>
      <table>
        <tbody>
          <tr>
            <!-- Spaltenanzahl dynamisch berechnen -->
            <th rowSpan="{{ topics.length }}">Themen</th>
            <!-- Thementitel einfügen-->
            <td>{{ topics[0] }}</td>
          </tr>
          <tr>
            <!-- Thementitel einfügen-->
            <td>{{ topics[1] }}</td>
          </tr>
          <tr>
            <!-- Thementitel einfügen-->
            <td>{{ topics[2] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
