<nav class="main-nav fixed bottom-0 left-0 w-56 shadow-xl">
  <div class="menu-wrapper">
    <span class="menu-title">
      Template Code
    </span>
    <ul>
      <li>
        <a href="#">Expressions</a>
      </li>
      <li>
        <a href="#">Statements</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    <span class="menu-title">
      Binding Syntax
    </span>
    <ul>
      <li>
        <a href="#">Property Binding</a>
      </li>
      <li>
        <a href="#">Interpolation</a>
      </li>
      <li>
        <a href="#">Event Binding</a>
      </li>
      <li>
        <a href="#">Two-Way Binding</a>
      </li>
      <li>
        <a href="#">Template Ref Vars</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    <span class="menu-title">
      Direktiven
    </span>
    <ul>
      <li>
        <a href="#">Attribute Directives</a>
      </li>
      <li>
        <a href="#">Structural Directives</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    <span class="menu-title">
      Sonder-Bindungen
    </span>
    <ul>
      <li>
        <a href="#">Attribute Binding</a>
      </li>
      <li>
        <a href="#">Class Binding</a>
      </li>
      <li>
        <a href="#">Style Binding</a>
      </li>
    </ul>
  </div>
</nav>
