<nav class="main-nav fixed bottom-0 left-0 w-56 shadow-xl">
  <div class="menu-wrapper">
    <span class="menu-title">
      Template Code
    </span>
    <ul>
      <li>
        <a href="#">Expressions</a>
      </li>
      <li>
        <a href="#">Statements</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    <span class="menu-title">
      Binding Syntax
    </span>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/property-binding">Property Binding</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/interpolation">Interpolation</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/event-binding">Event Binding</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/two-way">Two-Way Binding</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ref-vars">Template Ref Vars</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    <span class="menu-title">
      Direktiven
    </span>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/attr-directive">Attribute Directives</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/struct-directive">Structural Directives</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    <span class="menu-title">
      Sonder-Bindungen
    </span>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/attr-binding">Attribute Binding</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/class-binding">Class Binding</a>
      </li>
      <li>
        <a href="#">Style Binding</a>
      </li>
    </ul>
  </div>
</nav>
