<p class="menu-label">
  Template Code
</p>
<ul class="menu-list">
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Expressions</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Statements</a>
    </mat-list-item>
  </li>
</ul>
<p class="menu-label">
  Binding Syntax
</p>
<ul class="menu-list">
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Property Binding</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Interpolation</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Event Binding</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Two-Way Binding</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Template Ref Vars</a>
    </mat-list-item>
  </li>
</ul>
<p class="menu-label">
  Direktiven
</p>
<ul class="menu-list">
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Attribut Direktiven</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Strukturelle Direktiven</a>
    </mat-list-item>
  </li>
</ul>
<p class="menu-label">
  Sonder-Bindungen
</p>
<ul class="menu-list">
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Attribute Binding</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Class Binding</a>
    </mat-list-item>
  </li>
  <li routerLinkActive="active">
    <mat-list-item>
      <a href="#">Style Binding</a>
    </mat-list-item>
  </li>
</ul>
