<nav class="navbar is-info">
  <div class="navbar-brand">
    <a href="/" class="navbar-item is-size-4">
      Angular Templates
    </a>
  </div>
</nav>
<main class="section">
  <div class="container columns">
    <div class="column is-one-quarter">
      <aside class="menu">
        <p class="menu-label">
          Template Code
        </p>
        <ul class="menu-list">
          <li><a [class.is-active]="tabIx === 1" (click)="tabIx = 1">Expressions</a></li>
          <li><a [class.is-active]="tabIx === 2" (click)="tabIx = 2">Statements</a></li>
        </ul>
        <p class="menu-label">
          Binding Syntax
        </p>
        <ul class="menu-list">
          <li><a [class.is-active]="tabIx === 3" (click)="tabIx = 3">Property Binding</a></li>
          <li><a [class.is-active]="tabIx === 4" (click)="tabIx = 4">Interpolation</a></li>
          <li><a [class.is-active]="tabIx === 5" (click)="tabIx = 5">Event Binding</a></li>
          <li><a [class.is-active]="tabIx === 6" (click)="tabIx = 6">Two-Way Binding</a></li>
          <li><a [class.is-active]="tabIx === 7" (click)="tabIx = 7">Template Reference Variablen</a></li>
        </ul>
        <p class="menu-label">
          Direktiven
        </p>
        <ul class="menu-list">
          <li><a [class.is-active]="tabIx === 8" (click)="tabIx = 8">Attribut Direktiven</a></li>
          <li><a [class.is-active]="tabIx === 9" (click)="tabIx = 9">Strukturelle Direktiven</a></li>
        </ul>
        <p class="menu-label">
          Sonder-Bindungen
        </p>
        <ul class="menu-list">
          <li><a [class.is-active]="tabIx === 10" (click)="tabIx = 10">Attribute Binding</a></li>
          <li><a [class.is-active]="tabIx === 11" (click)="tabIx = 11">Class Binding</a></li>
          <li><a [class.is-active]="tabIx === 12" (click)="tabIx = 12">Style Binding</a></li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <app-property-binding *ngIf="tabIx === 3"></app-property-binding>
      <app-interpolation *ngIf="tabIx === 4"></app-interpolation>
      <app-event-binding *ngIf="tabIx === 5"></app-event-binding>
      <app-twoway-binding *ngIf="tabIx === 6"></app-twoway-binding>
      <app-template-refvars *ngIf="tabIx === 7"></app-template-refvars>
      <app-attr-directive *ngIf="tabIx === 8"></app-attr-directive>
      <app-struct-directive *ngIf="tabIx === 9"></app-struct-directive>
      <app-attr-binding *ngIf="tabIx === 10"></app-attr-binding>
      <app-class-binding *ngIf="tabIx === 11"></app-class-binding>
      <app-style-binding *ngIf="tabIx === 12"></app-style-binding>
    </div>
  </div>
</main>
