<div class="edu-sample">
  <h2>Event Binding</h2>
  <div class="card">
    <header class="card-header">
      <!-- Titel und Url einsetzen-->
      Training: <a href="https://framework-url.de" target="_blank">Framework</a>
    </header>
    <div class="card-content">
      <div class="card-content-title">
        <!-- Themen (komma-getrennter String) -->
        Thema 1, Thema 2, Thema 3
      </div>
      <!-- Prevent Submission -->
      <form class="flex simple-form">
        <!-- Neues Thema im Input-Feld übernehmen (Enter-Taste oder Click auf den Button) -->
        <!-- Feldinhalt sollte danach leer sein -->
        <input type="text" placeholder="Weiteres Thema" class="block w-full mr-4">
        <button class="block">Anfügen</button>
      </form>
    </div>
  </div>
</div>
