<div class="content">
  <h2>Built-In Structural Directives</h2>
  <hr>
  <h3>Training: <a href="https://{{ frameworkHomepage }}">{{ frameworkTitle }}</a></h3>
</div>
<div class="card">
  <!-- Card header und content aus dem DOM nehmen, wenn keine Topics. -->
  <header class="card-header">
    <div class="card-header-title">
      Anzahl Themen: {{ topics.length }}
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <ul>
        <!-- Rendere ein li-Element für jedes Topic -->
      </ul>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <div class="field has-addons">
        <div class="control">
          <input
            #fld (keyup.enter)="addTopic(fld.value); fld.value=''"
            class="input" type="text" placeholder="Neues Thema">
        </div>
        <div class="control">
          <button
            (click)="addTopic(fld.value); fld.value=''"
            class="button is-info">
            Anfügen
          </button>
        </div>
      </div>
    </div>
  </footer>
</div>
