<div class="content">
  <h2>Property Binding</h2>
  <hr>
  <!-- Titel und Url einsetzen-->
  <h3>Training: <a href="https://framework-url.de">Framework</a></h3>
</div>
<div class="card">
  <header class="card-header">
    <!-- Anzahl Themen dynamisch berechnen -->
    <div class="card-header-title">
      Anzahl Themen: 1
    </div>
  </header>
  <div class="card-content">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <!-- Spaltenanzahl dynamisch berechnen -->
          <th colspan="1">Themen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Thementitel einfügen-->
          <td>Thema 1</td>
          <td>Thema 2</td>
          <td>Thema 3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
