<div class="edu-sample">
  <h2>Property Binding</h2>
  <div class="card">
    <header class="card-header">
      <!-- Titel und Url einsetzen-->
      Training: <a [href]="frameworkHomepage" [textContent]="frameworkTitle" target="_blank"></a>
    </header>
    <div class="card-content">
      <div class="card-content-title">
        <!-- Anzahl Themen dynamisch berechnen -->
        Anzahl Themen: <span [textContent]="topics.length"></span>
      </div>
      <table>
        <tbody>
          <tr>
            <!-- Spaltenanzahl dynamisch berechnen -->
            <th [rowSpan]="topics.length">Themen</th>
            <!-- Thementitel einfügen-->
            <td [textContent]="topics[0]"></td>
          </tr>
          <tr>
            <!-- Thementitel einfügen-->
            <td [textContent]="topics[1]"></td>
          </tr>
          <tr>
            <!-- Thementitel einfügen-->
            <td [textContent]="topics[2]"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
