<div class="edu-sample">
  <h2>Property Binding</h2>
  <div class="card">
    <header class="card-header">
      <!-- Titel und Url einsetzen-->
      Training: <a href="https://framework-url.de" target="_blank">Framework</a>
    </header>
    <div class="card-content">
      <div class="table-desc">
        <!-- Anzahl Themen dynamisch berechnen -->
        Anzahl Themen: 1
      </div>
      <table>
        <tbody>
          <tr>
            <!-- Spaltenanzahl dynamisch berechnen -->
            <th rowspan="3">Themen</th>
            <!-- Thementitel einfügen-->
            <td>Thema 1</td>
          </tr>
          <tr>
            <!-- Thementitel einfügen-->
            <td>Thema 2</td>
          </tr>
          <tr>
            <!-- Thementitel einfügen-->
            <td>Thema 3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
